* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #999999;
  display: flex;
  justify-content: center;
  /* padding: 24px; */
  overflow: hidden;
}

/* len aby bol canvas vycentrovaný na stránke */
#sketch-wrapper {
  display: inline-block;
}

/* fixed upload button in top-left */
#uploadInput{
  position: fixed;
  top: 12px;
  left: 12px;
  z-index: 9999;
  cursor: pointer;
}

