* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #999999;
  display: flex;
  justify-content: center;
  /* padding: 24px; */
  overflow: hidden;
}

/* len aby bol canvas vycentrovaný na stránke */
#sketch-wrapper {
  display: inline-block;
}

/* fixed upload button in top-left */
#saveButton {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-10vw);
  z-index: 9999;
  cursor: pointer;
  width: 20%;
  height: 5%;
}
